<?xml version="1.0"?>

<appSettings>
  <add key="projectFullName" value="Test Modal In MasterPage"/>
  <add key="projectDisplayName" value="MODAL MASTER"/>
  <add key="projectShortName" value="MODMAST"/>
  <add key="projectDescriptionName" value="Bla Bla Bla"/>
  <add key="projectVersion" value="1.0.0"/>
  <add key="devCompanyName" value="Hikari Corp."/>
  <add key="devCompanyWebSiteURL" value="http:\\github.com/GitMAGI"/>
  <add key="devYear" value="2017"/>

  <add key="playerTabName" value="players"/>
  <add key="schoolTabName" value="schools"/>
  <add key="salaryTabName" value="salaries"/>
  <add key="managerTabName" value="managers"/>
</appSettings>