<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  
  <log4net configSource="config\log4net.config" />
  
  <appSettings configSource="config\appSettings.config" />

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
  <connectionStrings configSource="config\connectionStrings.config" />

</configuration>