<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <log4net>
    <logger name="main">
      <appender-ref ref="main_info"/>
      <appender-ref ref="main_error"/>
    </logger>
    <!-- Appenders Definition -->
    <appender name="consoleAppender" type="log4Net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger.%M() - %message%newline"/>
      </layout>
    </appender>
    <appender name="main_info" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMax value="WARN"/>
      </filter>
      <file value="log\"/>
      <datePattern value="'main_'yyyy.MM.dd'.log'"/>
      <rollingStyle value="Composite"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="5MB"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger.%M() - %message%newline"/>
      </layout>
    </appender>
    <appender name="main_error" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR"/>
      </filter>
      <file value="log\"/>
      <datePattern value="'main_'yyyy.MM.dd'.err'"/>
      <rollingStyle value="Composite"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="5MB"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger.%M() - %message%newline"/>
      </layout>
    </appender>
    <root>
      <!-- Log4Net level configuration -->
      <level value="ALL"/>
      <!-- Appenders: Where messages are appended -->
      <!-- Appender Declaration -->
      <appender-ref ref="consoleAppender"/>
    </root>
  </log4net>

  <appSettings>
    <add key="projectFullName" value="DataBaseUtilities"/>
    <add key="projectDisplayName" value="DBUtils"/>
    <add key="projectShortName" value="DBUtils"/>
    <add key="projectDescriptionName" value="All classes and utilities for DB Data Manipulation. Supported engines: SQL Server."/>
    <add key="projectVersion" value="1.0.0"/>
    <add key="devCompanyName" value="Hikari Corp."/>
    <add key="devCompanyWebSiteURL" value="http:\\github.com/GitMAGI"/>
    <add key="devYear" value="2017"/>
  </appSettings>
  
</configuration>